@import '../../styles/variables';
@import '../../styles/fonts';

.wrapper {
	width: 100%;
	height: auto;
}

.service-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;

	width: 100%;
	height: auto;
	background: $color-mono-white;

	border: 1px solid $color-mono-dark-grey;
	border-radius: 8px;

	.image-wrapper {
		display: flex;
		justify-content: center;
		width: 25%;
		height: auto;
		border-radius: 8px 0 0 8px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px 0 0 8px;
		}
	}

	.text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 10px 8px;
		gap: 8px;

		width: 75%;
		height: auto;

		.title {
			@include font-md-bold;
			color: $color-primary-red-main;
			margin: 0px;
			width: 100%;

			vertical-align: middle;
			align-items: center;

			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-decoration: none !important;
		}

		.description {
			@include font-sm-regular;
			color: $color-mono-black;
			margin: 0px;
			width: 100%;

			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			text-decoration: none;
		}

		.org-wrapper {
			display: block;
			padding: 8px 6px;

			width: auto;
			max-width: 100%;
			height: 30px;

			background: #f2f2f2;
			border-radius: 8px;
			.org {
				@include font($font-family-alt, normal, 400, 12px, 120%);
				color: $color-mono-black;
				width: 100%;
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
