@import "./theme-variable.css";

h1 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;

  color: var(--clr-mono-black);
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;

  color: var(--clr-mono-black);
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;

  color: var(--clr-mono-black);
}

.navbar-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;

  color: var(--clr-mono-black);
}

body .regular {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  color: var(--clr-mono-black);
}

body .bold {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;

  color: var(--clr-mono-black);
}

body .italic {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  color: var(--clr-mono-black);
}

.subRegular {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;

  color: var(--clr-mono-black);
}

.subBold {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  
  color: var(--clr-mono-black);
}

.subItalic {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  
  color: var(--clr-mono-black);
}
