:root {
  --red-main:      #DA251D;
  --red-alt:       #930D20;
  --black:         #2C2C2C;
  --dark-grey:     #BABABA;
  --light-grey:    #F2F2F2;
  --white:         #FAFAFA;
}

@value red-main:      #DA251D;
@value red-alt:       #930D20;
@value black:         #2C2C2C;
@value dark-grey:     #BABABA;
@value light-grey:    #F2F2F2;
@value white:         #FAFAFA;