:root {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;

	--scroll-bar-color: #c5c5c5;
	--scroll-bar-bg-color: #f6f6f6;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

html,
body {
	max-width: 100vw;
}

body {
	margin: 0;
	background: #e5e5e5;
	box-sizing: border-box;
	overflow-y: scroll;
}

a {
	color: inherit;
	text-decoration: none;
}

::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0.5);
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scroll-bar-color);
	border-radius: 20px;
	border: 3px solid var(--scroll-bar-bg-color);
}
