@import '../../../../styles/variables';
@import '../../../../styles/fonts';

.page-wrapper {
	background-color: $color-mono-grey;
	position: relative;
	max-width: inherit;
	width: 100%;
	margin: 0px auto;
	height: calc(100vh - $header-height);
	overflow: hidden;
	// fixed
	// top: $header-height;

	// sticky (none att)
	// iframe {
	// 	width: 100%;
	// 	height: 100%;
	// 	border: none;
	// 	overflow: scroll;
	// 	// -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
	// 	// scrollbar-width: none; /* Hide scrollbar in Firefox */

	// 	// &::-webkit-scrollbar {
	// 	// 	display: none;
	// 	// }
	// }

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
		overflow-y: scroll;
		scrollbar-width: none; /* hide scrollbar for Firefox */
		-ms-overflow-style: none; /* hide scrollbar for IE and Edge */

		&::-webkit-scrollbar {
			display: none; /* hide scrollbar for Chrome and Safari */
		}
	}
}

.service-modal {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 1.25em;
	gap: 1.25em;
	position: relative;

	.title {
		@include heading-3;
		color: $color-mono-black;
		margin: 0;
		justify-content: left;
		text-align: start;
		vertical-align: middle;
		align-items: center;
	}

	.description {
		@include font-sm-regular;
		color: $color-mono-black;
		margin: 0;
		justify-content: left;
		text-align: start;
		vertical-align: middle;
		align-items: center;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.admin-wrapper {
		display: flex;
		flex-direction: column;

		.admin-tag {
			@include font-sm-bold;
			color: $color-mono-darker-grey;
		}
	}

	.button {
		width: 100%;
	}
}
