.navBarWrapper {
  list-style-type: none;
  display: inline-block;
  border-width: 1px 0px 0px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image: initial;
  vertical-align: middle;
  transition: all 0.35s ease 0s;
  width: 100%;
  padding: 7px 0px;
  max-width: 640px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  border-top-style: solid;
  border-top-color: var(--clr-mono-grey-alt);
  margin: 0px;
  background-color: var(--clr-mono-white);
}

.navItem {
  display: inline-block;
  width: 25%;
  font-size: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.active {
  color: var(--clr-primary-red-main);
}

.inactive {
  color: var(--clr-primary-darker-grey);
}

.iconWrapper {
  position: relative;
  margin-bottom: 8px;
  width: 24px;
  height: 24px;
  margin: 0px auto 8px auto;;
}

.icon {
  width: auto;
  height: 100%;
}

.text {
  white-space: nowrap;
  display: inline-block;
}