@import '../../styles/variables';
@import '../../styles/fonts';

.guide-section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 20px;
	gap: 20px;
	background: $color-mono-white;
	width: 100%;

	.image-wrapper {
		display: flex;
		justify-content: flex-end;
		min-width: 90px;
		height: 100px;

		img {
			width: auto;
			height: 100px;
		}
	}

	.text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 8px;

		p {
			@include font-md-regular;
			margin: 0;
		}

		span {
			@include font-md-extra-bold;
		}
	}
}
