@import '../../styles/variables';
@import '../../styles/fonts';

.xl-news-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 10px;

	width: 100%;
	height: auto;
	background: $color-mono-white;

	img {
		width: 100%;
		height: 100%;
		aspect-ratio: 16/7;
		object-fit: cover;
		border-radius: 8px;
	}

	.text-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		row-gap: 8px;
	}

	p {
		@include font-sm-regular;
		color: $color-mono-darker-grey;
		margin: 0px;

		vertical-align: middle;
		align-items: center;
		text-align: start;

		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-decoration: none;
	}
}

.m-news-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 10px;

	width: 100%;
	height: auto;
	background: $color-mono-white;

	img {
		width: 18.75%;
		min-width: 60px;
		height: auto;
		aspect-ratio: 1/1;
		object-fit: cover;
		border-radius: 8px;
	}

	.text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		padding: 0px;
		gap: 4px;
	}
}

.title {
	@include font-md-bold;
	color: $color-mono-black;
	margin: 0px;

	vertical-align: middle;
	align-items: center;
	text-align: start;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-decoration: none;
}

.tag-date-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 4px;

	.tag {
		@include font-xs-regular;
		color: $color-primary-red-main;
		justify-content: center;
		align-items: center;
		padding: 4px 8px;

		width: auto;
		height: auto;
		background: $color-primary-light-red;
		border-radius: 8px;
	}

	.date {
		@include font-sm-regular;
		color: $color-mono-black;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;
	}
}
