@import '../../../styles/variables';
@import '../../../styles/fonts';

.page-wrapper {
	background-color: $color-mono-white;
	position: relative;
	max-width: inherit;
	width: 100%;
	margin: 0px auto;
	height: fit-content;
	min-height: 90vh;
	// fixed
	// top: $header-height;

	// sticky (none att)

	.search-header-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 1.25em 1.25em 0 1.25em;
		gap: 1.25em;
		background: $color-mono-white;

		width: 100%;
		min-height: 100%;

		h3 {
			@include heading-3;
			color: $color-mono-black;
			margin: 0;
		}
	}
}
